{% extends "base.html" %}

{% block title %}
    Directory Information
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Directory Information</h1>
        <div class="list-group">
            <div class="list-group-item">
                <h4 class="list-group-item-heading">{{ viewuser.get_fullname() }}</h4>
                <p class="list-group-item-text">Username: {{ viewuser.username }}</p>
                <p class="list-group-item-text">Position: {{ viewuser.get_group() }}</p>
                <p class="list-group-item-text">Email: {{ viewuser.email }}</p>
                <p class="list-group-item-text">Military ID: {{ viewuser.military_id }}</p>
                <p class="list-group-item-text">Social Security Number: {{ viewuser.ssn }}</p>
                <p class="list-group-item-text">Enlisted: {{ viewuser.creation_date.strftime("%d %b %Y %H:%M") }}</p>
            </div>
        </div>
    </div>
{% endblock %}
